*{
    box-sizing: border-box;

}
body{
    background-color: rgb(255, 82, 82);
    color: rgb(0, 212, 236);
}

.contenedor{
    width: 95%;
    margin: 0px auto;
    text-align: justify;
    display: flex;
   /*flex-direction: column;*/
   flex-flow: wrap;
   align-content: space-between;
   justify-content: space-between;
   border: 1px rgb(9, 255, 0) solid;
}

.caja{
    border: 1px rgb(228, 89, 233) solid;
    padding: 3px 10px;
    margin-right: 1px;
    width: 415px;
    
}

.cabecera{
    width: 100%;
    height: 200px;
    border: 1px rgb(181, 244, 104);
    padding: 10px 0px;
    line-height: auto;
    text-align: center;
    background-image: url(../imagenes/fondo.png);
}


.cabecera h3{
    color: rgb(255, 0, 0);
    font-size: 1.3em;
    font-family:cursive;
}


.navegador{
    width: 100%;
    margin-top: 1px;
    padding: 10px 5px;
}

.navegador li{
    display: inline-block;
    float: right;
 }

.navegador li a{
   text-decoration: none;
   margin-right: 20px;
   font-size: 1.3em;
}
.navegador li a:hover{
    color: aqua;
    text-decoration:underline;
}
